@import "../../sass-globals/variables";

.card {
    margin: 0 auto;
    margin-bottom: 20px;
    height: 300px;
    max-width: 350px;
    border-radius: 3%;
    box-shadow: 0 5px 50px -15px map-get($neutral, grayish-blue);
    text-align: left;
    overflow: hidden;
    div.color {
        height: 5px;
    }
    div.content {
        padding: 30px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        h2 {
            color: map-get($neutral, very-dark-blue);
            margin-bottom: 10px;
        }
        p {
            color: map-get($neutral, grayish-blue);
        }
        img {
            margin-top: auto;
            align-self: flex-end;
        }
    }
}