@import "../../sass-globals/variables";

.header {
    font-family: $font-family;
    padding: 50px 10%;
    color: map-get($neutral, very-dark-blue);
    padding-bottom: 5em;
    h1 {
        font-weight: $thin;
        font-size: 1.5rem;
    }
    p.tagline {
        font-weight: $bold;
        font-size: 1.5rem;
        margin-top: 0;
        padding-top: 0;
        color: map-get($neutral, very-dark-blue);
    }
    p {
        font-weight: $medium;
        margin-top: 1em;
        line-height: 1.6em;
        color: map-get($neutral, grayish-blue);
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

@media screen and (min-width: map-get($breakpoints, medium)) {
    .header {
        padding-bottom: 4em;
        h1 {
            font-size: 2.45em;
        }
        p.tagline {
            font-size: 2.4em;
        }
        p {
            width: 48%;
            margin: 0 auto;
            margin-top: 0.9em;
            margin-bottom: 0;
            font-size: 1em;
        }
    }
}